{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true,
        "modules": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "document": false,
        "window": false
    },
    "rules": {
        "arrow-spacing": 1,
        "block-spacing": 1,
        "brace-style": 1,
        "camelcase": 0,
        "curly": 1,
        "comma-dangle": 2,
        "comma-spacing": 1,
        "dot-notation": 1,
        "dot-location": 1,
        "eol-last": 0,
        "eqeqeq": 1,
        "jsx-quotes": 2,
        "key-spacing": 0,
        "max-len": [ 1, 120, 4, { "ignoreComments": true, "ignoreUrls": true } ],
        "newline-after-var": 1,
        "no-cond-assign": 1,
        "no-constant-condition": 1,
        "no-const-assign": 1,
        "no-debugger": 1,
        "no-dupe-args": 1,
        "no-dupe-keys": 1,
        "no-duplicate-case": 1,
        "no-empty": 1,
        "no-extra-bind": 1,
        "no-extra-semi": 1,
        "no-loop-func": 0,
        "no-mixed-requires": 1,
        "no-multiple-empty-lines": [ 1, { "max": 1 } ],
        "no-multi-spaces": [
            1,
            {
                "exceptions": {
                    "VariableDeclarator": true,
                    "ImportDeclaration": true
                }
            }
        ],
        "no-redeclare": 1,
        "no-sequences": 1,
        "no-trailing-spaces": 0,
        "no-undef": 2,
        "no-undef-init": 1,
        "no-undefined": 1,
        "no-underscore-dangle": 0,
        "no-unused-vars": 1,
        "no-unreachable": 1,
        "no-useless-call": 1,
        "no-use-before-define": 1,
        "no-var": 1,
        "no-with": 2,
        "object-shorthand": 1,
        "operator-linebreak": [ 1, "after", { "overrides": { "?": "after" } } ],
        "prefer-arrow-callback": 1,
        "prefer-const": 1,
        "prefer-spread": 1,
        "quotes": 0,
        "react/display-name": 0,
        "react/no-direct-mutation-state": 1,
        "react/jsx-boolean-value": 2,
        "react/jsx-closing-bracket-location": [ 1, "after-props" ],
        "react/jsx-indent-props": [ 1, 8 ],
        "react/jsx-no-undef": 2,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 0,
        "react/no-unknown-property": 2,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 1,
        "react/sort-comp": 0,
        "react/wrap-multilines": 2,
        "semi": 2,
        "space-after-keywords": 1,
        "space-before-blocks": 1,
        "space-infix-ops": 1,
        "strict": 2
    }
}
