
/* unvisited link */
a:link {
    color: #880000;
}

/* visited link */
a:visited {
    color: #008800;
}

/* mouse over link */
a:hover {
    color: #880088;
}

/* selected link */
a:active {
    color: #000088;
}
