
/* unvisited link */
a:link {
    color: #008888;
}

/* visited link */
a:visited {
    color: #008800;
}

/* mouse over link */
a:hover {
    color: #880088;
}

/* selected link */
a.my-atctive-class-name {
    color: #888800;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 15px;
}
